<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.conoceme.myapplication_yens">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Views.Interfaces.activity_conversacion"></activity>
        <activity android:name=".Views.Interfaces.activity_bandeja" />
        <activity android:name=".Views.Interfaces.activity_invitacion" />
        <activity android:name=".Views.Interfaces.activity_configuracion" />
        <activity
            android:name=".Views.Interfaces.activity_perfil_otro"
            android:label="@string/title_activity_perfil_otro"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Views.Interfaces.activity_mi_perfil"
            android:label="@string/title_activity_mi_perfil"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".Views.Interfaces.activity_cambiar_clave" />
        <activity android:name=".Views.Interfaces.activiy_verificacion_cuenta" />
        <activity
            android:name=".Views.Interfaces.PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".Views.Interfaces.SuccessfulActivity" />
        <activity android:name=".Views.Interfaces.RecoverActivity" />
        <activity android:name=".Views.Interfaces.RegisterActivity" />
        <activity android:name=".Views.Interfaces.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>